# 10. 결측치
비어 있는 데이터

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## 데이터 채우기 fillna

In [2]:
df.fillna('') # Nan 데이터를 빈 칸으로 채움

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [3]:
df.fillna('없음')

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80          없음
5번    강백호  북산고  188   15   20   10  35  10          없음
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [5]:
import numpy as np
df['학교'] = np.nan # 학교 데이터 전체를 Nan 으로 채움
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   45  40  35      PYTHON
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [6]:
df.fillna('모름')

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  모름  197   90   85  100  95  85      Python
2번    정대만  모름  184   40   35   50  55  25        Java
3번    송태섭  모름  168   80   75   70  80  75  Javascript
4번    서태웅  모름  187   40   60   70  75  80          모름
5번    강백호  모름  188   15   20   10  35  10          모름
6번    변덕규  모름  202   80  100   95  85  80           C
7번    황태산  모름  188   55   65   45  40  35      PYTHON
8번    윤대협  모름  190  100   85   90  95  95          C#

In [7]:
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   45  40  35      PYTHON
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [8]:
df.fillna('모름', inplace=True)

In [9]:
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  모름  197   90   85  100  95  85      Python
2번    정대만  모름  184   40   35   50  55  25        Java
3번    송태섭  모름  168   80   75   70  80  75  Javascript
4번    서태웅  모름  187   40   60   70  75  80          모름
5번    강백호  모름  188   15   20   10  35  10          모름
6번    변덕규  모름  202   80  100   95  85  80           C
7번    황태산  모름  188   55   65   45  40  35      PYTHON
8번    윤대협  모름  190  100   85   90  95  95          C#

In [10]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [12]:
df['SW특기'].fillna('확인 중', inplace=True) # SW특기 데이터 중에서 NaN 에 대해서 채움

In [13]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80        확인 중
5번    강백호  북산고  188   15   20   10  35  10        확인 중
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## 데이터 제외하기 dropna

In [14]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [17]:
df.dropna(inplace=True) # 전체 데이터 중에서 Nan 을 포함하는 데이터 삭제

In [18]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [20]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

- axis : index or columns  
- how : any or all

In [21]:
df.dropna(axis='index', how='any') # Nan 가 하나라도 있는 row 삭제

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [23]:
df.dropna(axis='columns') # Nan 이 하나라도 있는 column 삭제

       이름   학교    키   국어   영어   수학  과학  사회
지원번호
1번    채치수  북산고  197   90   85  100  95  85
2번    정대만  북산고  184   40   35   50  55  25
3번    송태섭  북산고  168   80   75   70  80  75
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80
7번    황태산  능남고  188   55   65   45  40  35
8번    윤대협  능남고  190  100   85   90  95  95

In [24]:
df['학교'] = np.nan
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   45  40  35      PYTHON
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [25]:
df.dropna(axis='columns', how='all') # column 데이터 전체가 Nan 인 경우에만 Column 삭제

       이름    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  197   90   85  100  95  85      Python
2번    정대만  184   40   35   50  55  25        Java
3번    송태섭  168   80   75   70  80  75  Javascript
4번    서태웅  187   40   60   70  75  80         NaN
5번    강백호  188   15   20   10  35  10         NaN
6번    변덕규  202   80  100   95  85  80           C
7번    황태산  188   55   65   45  40  35      PYTHON
8번    윤대협  190  100   85   90  95  95          C#

# 결측치
결측치 요리조리

In [1]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [2]:
df.fillna('') # Nan 데이터를 빈 칸으로 채움

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64
6번    김주헌  남  147  49  41  92   7  13
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [3]:
df.fillna('없음')

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64          없음
6번    김주헌  남  147  49  41  92   7  13          없음
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65          없음
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [7]:
import numpy as np
df['성별'] = np.nan # 학교 데이터 전체를 Nan 으로 채움
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기  학교
지원번호
1번    고우리 NaN  153  42  78   4  39   4      Python NaN
2번    권석현 NaN  144  17  68  92  79  91        Java NaN
3번    김세은 NaN  152   5  97  99  48  65      Python NaN
4번    김재익 NaN  142  54  94   8  19  50           C NaN
5번    김주하 NaN  146  39  63  80  67  64         NaN NaN
6번    김주헌 NaN  147  49  41  92   7  13         NaN NaN
7번    박소을 NaN  141  13  24  28  62  65           C NaN
8번    박지나 NaN  149  25  37  72  32  37          C# NaN
9번    박지수 NaN  145  15  20  53  18  23          C# NaN
10번   서연제 NaN  152  13  72   8  96  64  Javascript NaN
11번   성용혁 NaN  147  15  26  44  68  20        Java NaN
12번   송시윤 NaN  150  13  55  46  17  77        Java NaN
13번   신소현 NaN  141  69   0  63  71   1          C# NaN
14번   윤서진 NaN  148  88  76  57  76  31      Python NaN
15번   윤지율 NaN  149  60  11  32  81   9      PYTHON NaN
16번   이가연 NaN  140  64   9  76  11  68          C# NaN
17번   이서연 NaN  149  12  24  13  83  41          C# NaN
18번   이지환 NaN  140  15   3  64  61  67           C NaN
19번   임라온 NaN  152  94   4  90  32  92          C# NaN
20번   전유준 NaN  159  49  25  33  22  85      PYTHON NaN
21번   전윤서 NaN  156  44  88  16  26  53      Python NaN
22번   조예원 NaN  150  30  34  75  75  62        Java NaN
23번    조율 NaN  151  23  43  99  12  49      PYTHON NaN
24번   조재현 NaN  143   6   6  25  58  65         NaN NaN
25번   최아리 NaN  159  37  30  77  29  73      Python NaN
26번   태정민 NaN  155  98  84   3  90  56  Javascript NaN
27번   한바름 NaN  155   3  20  27  38  63      PYTHON NaN
28번   함지율 NaN  155  38  47  89  60  39          C# NaN
29번   주민성 NaN  146   7  22   1  73  68           C NaN

In [8]:
df.fillna('모름')

       이름  성별    키  국어  영어  수학  과학  사회        SW특기  학교
지원번호
1번    고우리  모름  153  42  78   4  39   4      Python  모름
2번    권석현  모름  144  17  68  92  79  91        Java  모름
3번    김세은  모름  152   5  97  99  48  65      Python  모름
4번    김재익  모름  142  54  94   8  19  50           C  모름
5번    김주하  모름  146  39  63  80  67  64          모름  모름
6번    김주헌  모름  147  49  41  92   7  13          모름  모름
7번    박소을  모름  141  13  24  28  62  65           C  모름
8번    박지나  모름  149  25  37  72  32  37          C#  모름
9번    박지수  모름  145  15  20  53  18  23          C#  모름
10번   서연제  모름  152  13  72   8  96  64  Javascript  모름
11번   성용혁  모름  147  15  26  44  68  20        Java  모름
12번   송시윤  모름  150  13  55  46  17  77        Java  모름
13번   신소현  모름  141  69   0  63  71   1          C#  모름
14번   윤서진  모름  148  88  76  57  76  31      Python  모름
15번   윤지율  모름  149  60  11  32  81   9      PYTHON  모름
16번   이가연  모름  140  64   9  76  11  68          C#  모름
17번   이서연  모름  149  12  24  13  83  41          C#  모름
18번   이지환  모름  140  15   3  64  61  67           C  모름
19번   임라온  모름  152  94   4  90  32  92          C#  모름
20번   전유준  모름  159  49  25  33  22  85      PYTHON  모름
21번   전윤서  모름  156  44  88  16  26  53      Python  모름
22번   조예원  모름  150  30  34  75  75  62        Java  모름
23번    조율  모름  151  23  43  99  12  49      PYTHON  모름
24번   조재현  모름  143   6   6  25  58  65          모름  모름
25번   최아리  모름  159  37  30  77  29  73      Python  모름
26번   태정민  모름  155  98  84   3  90  56  Javascript  모름
27번   한바름  모름  155   3  20  27  38  63      PYTHON  모름
28번   함지율  모름  155  38  47  89  60  39          C#  모름
29번   주민성  모름  146   7  22   1  73  68           C  모름

In [9]:
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기  학교
지원번호
1번    고우리 NaN  153  42  78   4  39   4      Python NaN
2번    권석현 NaN  144  17  68  92  79  91        Java NaN
3번    김세은 NaN  152   5  97  99  48  65      Python NaN
4번    김재익 NaN  142  54  94   8  19  50           C NaN
5번    김주하 NaN  146  39  63  80  67  64         NaN NaN
6번    김주헌 NaN  147  49  41  92   7  13         NaN NaN
7번    박소을 NaN  141  13  24  28  62  65           C NaN
8번    박지나 NaN  149  25  37  72  32  37          C# NaN
9번    박지수 NaN  145  15  20  53  18  23          C# NaN
10번   서연제 NaN  152  13  72   8  96  64  Javascript NaN
11번   성용혁 NaN  147  15  26  44  68  20        Java NaN
12번   송시윤 NaN  150  13  55  46  17  77        Java NaN
13번   신소현 NaN  141  69   0  63  71   1          C# NaN
14번   윤서진 NaN  148  88  76  57  76  31      Python NaN
15번   윤지율 NaN  149  60  11  32  81   9      PYTHON NaN
16번   이가연 NaN  140  64   9  76  11  68          C# NaN
17번   이서연 NaN  149  12  24  13  83  41          C# NaN
18번   이지환 NaN  140  15   3  64  61  67           C NaN
19번   임라온 NaN  152  94   4  90  32  92          C# NaN
20번   전유준 NaN  159  49  25  33  22  85      PYTHON NaN
21번   전윤서 NaN  156  44  88  16  26  53      Python NaN
22번   조예원 NaN  150  30  34  75  75  62        Java NaN
23번    조율 NaN  151  23  43  99  12  49      PYTHON NaN
24번   조재현 NaN  143   6   6  25  58  65         NaN NaN
25번   최아리 NaN  159  37  30  77  29  73      Python NaN
26번   태정민 NaN  155  98  84   3  90  56  Javascript NaN
27번   한바름 NaN  155   3  20  27  38  63      PYTHON NaN
28번   함지율 NaN  155  38  47  89  60  39          C# NaN
29번   주민성 NaN  146   7  22   1  73  68           C NaN

In [11]:
df.fillna('모름', inplace=True)

In [12]:
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기  학교
지원번호
1번    고우리  모름  153  42  78   4  39   4      Python  모름
2번    권석현  모름  144  17  68  92  79  91        Java  모름
3번    김세은  모름  152   5  97  99  48  65      Python  모름
4번    김재익  모름  142  54  94   8  19  50           C  모름
5번    김주하  모름  146  39  63  80  67  64          모름  모름
6번    김주헌  모름  147  49  41  92   7  13          모름  모름
7번    박소을  모름  141  13  24  28  62  65           C  모름
8번    박지나  모름  149  25  37  72  32  37          C#  모름
9번    박지수  모름  145  15  20  53  18  23          C#  모름
10번   서연제  모름  152  13  72   8  96  64  Javascript  모름
11번   성용혁  모름  147  15  26  44  68  20        Java  모름
12번   송시윤  모름  150  13  55  46  17  77        Java  모름
13번   신소현  모름  141  69   0  63  71   1          C#  모름
14번   윤서진  모름  148  88  76  57  76  31      Python  모름
15번   윤지율  모름  149  60  11  32  81   9      PYTHON  모름
16번   이가연  모름  140  64   9  76  11  68          C#  모름
17번   이서연  모름  149  12  24  13  83  41          C#  모름
18번   이지환  모름  140  15   3  64  61  67           C  모름
19번   임라온  모름  152  94   4  90  32  92          C#  모름
20번   전유준  모름  159  49  25  33  22  85      PYTHON  모름
21번   전윤서  모름  156  44  88  16  26  53      Python  모름
22번   조예원  모름  150  30  34  75  75  62        Java  모름
23번    조율  모름  151  23  43  99  12  49      PYTHON  모름
24번   조재현  모름  143   6   6  25  58  65          모름  모름
25번   최아리  모름  159  37  30  77  29  73      Python  모름
26번   태정민  모름  155  98  84   3  90  56  Javascript  모름
27번   한바름  모름  155   3  20  27  38  63      PYTHON  모름
28번   함지율  모름  155  38  47  89  60  39          C#  모름
29번   주민성  모름  146   7  22   1  73  68           C  모름

In [13]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [14]:
df['SW특기'].fillna('확인 중', inplace=True) # SW특기 데이터 중에서 NaN 에 대해서 채움

In [15]:
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64        확인 중
6번    김주헌  남  147  49  41  92   7  13        확인 중
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65        확인 중
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [16]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [17]:
df.dropna(inplace=True) # 전체 데이터 중에서 Nan 을 포함하는 데이터 삭제

In [18]:
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [19]:
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [20]:
df.dropna(axis='index', how='any') # NaN 가 하나라도 있는 row 삭제

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [21]:
df.dropna(axis='columns') # NaN 이 하나라도 있는 column 삭제

       이름 성별    키  국어  영어  수학  과학  사회
지원번호
1번    고우리  여  153  42  78   4  39   4
2번    권석현  남  144  17  68  92  79  91
3번    김세은  여  152   5  97  99  48  65
4번    김재익  남  142  54  94   8  19  50
5번    김주하  여  146  39  63  80  67  64
6번    김주헌  남  147  49  41  92   7  13
7번    박소을  여  141  13  24  28  62  65
8번    박지나  여  149  25  37  72  32  37
9번    박지수  여  145  15  20  53  18  23
10번   서연제  남  152  13  72   8  96  64
11번   성용혁  남  147  15  26  44  68  20
12번   송시윤  여  150  13  55  46  17  77
13번   신소현  여  141  69   0  63  71   1
14번   윤서진  여  148  88  76  57  76  31
15번   윤지율  남  149  60  11  32  81   9
16번   이가연  여  140  64   9  76  11  68
17번   이서연  여  149  12  24  13  83  41
18번   이지환  남  140  15   3  64  61  67
19번   임라온  남  152  94   4  90  32  92
20번   전유준  남  159  49  25  33  22  85
21번   전윤서  여  156  44  88  16  26  53
22번   조예원  여  150  30  34  75  75  62
23번    조율  남  151  23  43  99  12  49
24번   조재현  남  143   6   6  25  58  65
25번   최아리  여  159  37  30  77  29  73
26번   태정민  남  155  98  84   3  90  56
27번   한바름  남  155   3  20  27  38  63
28번   함지율  여  155  38  47  89  60  39
29번   주민성  남  146   7  22   1  73  68

In [22]:
df['학교'] = np.nan
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기  학교
지원번호
1번    고우리  여  153  42  78   4  39   4      Python NaN
2번    권석현  남  144  17  68  92  79  91        Java NaN
3번    김세은  여  152   5  97  99  48  65      Python NaN
4번    김재익  남  142  54  94   8  19  50           C NaN
5번    김주하  여  146  39  63  80  67  64         NaN NaN
6번    김주헌  남  147  49  41  92   7  13         NaN NaN
7번    박소을  여  141  13  24  28  62  65           C NaN
8번    박지나  여  149  25  37  72  32  37          C# NaN
9번    박지수  여  145  15  20  53  18  23          C# NaN
10번   서연제  남  152  13  72   8  96  64  Javascript NaN
11번   성용혁  남  147  15  26  44  68  20        Java NaN
12번   송시윤  여  150  13  55  46  17  77        Java NaN
13번   신소현  여  141  69   0  63  71   1          C# NaN
14번   윤서진  여  148  88  76  57  76  31      Python NaN
15번   윤지율  남  149  60  11  32  81   9      PYTHON NaN
16번   이가연  여  140  64   9  76  11  68          C# NaN
17번   이서연  여  149  12  24  13  83  41          C# NaN
18번   이지환  남  140  15   3  64  61  67           C NaN
19번   임라온  남  152  94   4  90  32  92          C# NaN
20번   전유준  남  159  49  25  33  22  85      PYTHON NaN
21번   전윤서  여  156  44  88  16  26  53      Python NaN
22번   조예원  여  150  30  34  75  75  62        Java NaN
23번    조율  남  151  23  43  99  12  49      PYTHON NaN
24번   조재현  남  143   6   6  25  58  65         NaN NaN
25번   최아리  여  159  37  30  77  29  73      Python NaN
26번   태정민  남  155  98  84   3  90  56  Javascript NaN
27번   한바름  남  155   3  20  27  38  63      PYTHON NaN
28번   함지율  여  155  38  47  89  60  39          C# NaN
29번   주민성  남  146   7  22   1  73  68           C NaN

In [23]:
df.dropna(axis='columns', how='all') # column 데이터 전체가 Nan 인 경우에만 column 삭제

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C