# 11. 데이터 정렬

In [2]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [3]:
df.sort_values('키') # 키 기준으로 오름차순 정렬

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
2번    정대만  북산고  184   40   35   50  55  25        Java
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#
1번    채치수  북산고  197   90   85  100  95  85      Python
6번    변덕규  능남고  202   80  100   95  85  80           C

In [4]:
df.sort_values('키', ascending=False) # 키 기준으로 내림차순 정렬

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
6번    변덕규  능남고  202   80  100   95  85  80           C
1번    채치수  북산고  197   90   85  100  95  85      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#
5번    강백호  북산고  188   15   20   10  35  10         NaN
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
4번    서태웅  북산고  187   40   60   70  75  80         NaN
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript

In [6]:
df.sort_values(['수학', '영어']) # 수학, 영어 점수 기준으로 오름차순

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
5번    강백호  북산고  188   15   20   10  35  10         NaN
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
2번    정대만  북산고  184   40   35   50  55  25        Java
4번    서태웅  북산고  187   40   60   70  75  80         NaN
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
8번    윤대협  능남고  190  100   85   90  95  95          C#
6번    변덕규  능남고  202   80  100   95  85  80           C
1번    채치수  북산고  197   90   85  100  95  85      Python

In [7]:
df.sort_values(['수학', '영어'], ascending=False) # 수학, 영어 점수 기준으로 내림차순

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
6번    변덕규  능남고  202   80  100   95  85  80           C
8번    윤대협  능남고  190  100   85   90  95  95          C#
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
2번    정대만  북산고  184   40   35   50  55  25        Java
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
5번    강백호  북산고  188   15   20   10  35  10         NaN

In [8]:
df.sort_values(['수학', '영어'], ascending=[True, False]) # 수학 점수는 오름차순으로, 영어 점수는 내림차순으로 정렬

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
5번    강백호  북산고  188   15   20   10  35  10         NaN
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
8번    윤대협  능남고  190  100   85   90  95  95          C#
6번    변덕규  능남고  202   80  100   95  85  80           C
1번    채치수  북산고  197   90   85  100  95  85      Python

In [9]:
df['키'].sort_values()

지원번호
3번    168
2번    184
4번    187
5번    188
7번    188
8번    190
1번    197
6번    202
Name: 키, dtype: int64

In [10]:
df['키'].sort_values(ascending=False)

지원번호
6번    202
1번    197
8번    190
5번    188
7번    188
4번    187
2번    184
3번    168
Name: 키, dtype: int64

In [11]:
df.sort_index()

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [12]:
df.sort_index(ascending=False)

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
8번    윤대협  능남고  190  100   85   90  95  95          C#
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
6번    변덕규  능남고  202   80  100   95  85  80           C
5번    강백호  북산고  188   15   20   10  35  10         NaN
4번    서태웅  북산고  187   40   60   70  75  80         NaN
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
2번    정대만  북산고  184   40   35   50  55  25        Java
1번    채치수  북산고  197   90   85  100  95  85      Python

# 데이터 정렬
데이터 정렬 요리조리

In [1]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [2]:
df.sort_values('키') # 키 기준으로 오름차순 정렬

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
18번   이지환  남  140  15   3  64  61  67           C
16번   이가연  여  140  64   9  76  11  68          C#
7번    박소을  여  141  13  24  28  62  65           C
13번   신소현  여  141  69   0  63  71   1          C#
4번    김재익  남  142  54  94   8  19  50           C
24번   조재현  남  143   6   6  25  58  65         NaN
2번    권석현  남  144  17  68  92  79  91        Java
9번    박지수  여  145  15  20  53  18  23          C#
29번   주민성  남  146   7  22   1  73  68           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
11번   성용혁  남  147  15  26  44  68  20        Java
14번   윤서진  여  148  88  76  57  76  31      Python
17번   이서연  여  149  12  24  13  83  41          C#
15번   윤지율  남  149  60  11  32  81   9      PYTHON
8번    박지나  여  149  25  37  72  32  37          C#
12번   송시윤  여  150  13  55  46  17  77        Java
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
10번   서연제  남  152  13  72   8  96  64  Javascript
19번   임라온  남  152  94   4  90  32  92          C#
3번    김세은  여  152   5  97  99  48  65      Python
1번    고우리  여  153  42  78   4  39   4      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
21번   전윤서  여  156  44  88  16  26  53      Python
20번   전유준  남  159  49  25  33  22  85      PYTHON
25번   최아리  여  159  37  30  77  29  73      Python

In [3]:
df.sort_values('키', ascending=False) # 키 기준으로 내림차순 정렬

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
25번   최아리  여  159  37  30  77  29  73      Python
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
28번   함지율  여  155  38  47  89  60  39          C#
27번   한바름  남  155   3  20  27  38  63      PYTHON
26번   태정민  남  155  98  84   3  90  56  Javascript
1번    고우리  여  153  42  78   4  39   4      Python
3번    김세은  여  152   5  97  99  48  65      Python
10번   서연제  남  152  13  72   8  96  64  Javascript
19번   임라온  남  152  94   4  90  32  92          C#
23번    조율  남  151  23  43  99  12  49      PYTHON
22번   조예원  여  150  30  34  75  75  62        Java
12번   송시윤  여  150  13  55  46  17  77        Java
17번   이서연  여  149  12  24  13  83  41          C#
15번   윤지율  남  149  60  11  32  81   9      PYTHON
8번    박지나  여  149  25  37  72  32  37          C#
14번   윤서진  여  148  88  76  57  76  31      Python
11번   성용혁  남  147  15  26  44  68  20        Java
6번    김주헌  남  147  49  41  92   7  13         NaN
5번    김주하  여  146  39  63  80  67  64         NaN
29번   주민성  남  146   7  22   1  73  68           C
9번    박지수  여  145  15  20  53  18  23          C#
2번    권석현  남  144  17  68  92  79  91        Java
24번   조재현  남  143   6   6  25  58  65         NaN
4번    김재익  남  142  54  94   8  19  50           C
13번   신소현  여  141  69   0  63  71   1          C#
7번    박소을  여  141  13  24  28  62  65           C
16번   이가연  여  140  64   9  76  11  68          C#
18번   이지환  남  140  15   3  64  61  67           C

In [4]:
df.sort_values(['수학', '영어']) # 수학, 영어 점수 기준으로 오름차순

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
29번   주민성  남  146   7  22   1  73  68           C
26번   태정민  남  155  98  84   3  90  56  Javascript
1번    고우리  여  153  42  78   4  39   4      Python
10번   서연제  남  152  13  72   8  96  64  Javascript
4번    김재익  남  142  54  94   8  19  50           C
17번   이서연  여  149  12  24  13  83  41          C#
21번   전윤서  여  156  44  88  16  26  53      Python
24번   조재현  남  143   6   6  25  58  65         NaN
27번   한바름  남  155   3  20  27  38  63      PYTHON
7번    박소을  여  141  13  24  28  62  65           C
15번   윤지율  남  149  60  11  32  81   9      PYTHON
20번   전유준  남  159  49  25  33  22  85      PYTHON
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
9번    박지수  여  145  15  20  53  18  23          C#
14번   윤서진  여  148  88  76  57  76  31      Python
13번   신소현  여  141  69   0  63  71   1          C#
18번   이지환  남  140  15   3  64  61  67           C
8번    박지나  여  149  25  37  72  32  37          C#
22번   조예원  여  150  30  34  75  75  62        Java
16번   이가연  여  140  64   9  76  11  68          C#
25번   최아리  여  159  37  30  77  29  73      Python
5번    김주하  여  146  39  63  80  67  64         NaN
28번   함지율  여  155  38  47  89  60  39          C#
19번   임라온  남  152  94   4  90  32  92          C#
6번    김주헌  남  147  49  41  92   7  13         NaN
2번    권석현  남  144  17  68  92  79  91        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
3번    김세은  여  152   5  97  99  48  65      Python

In [5]:
df.sort_values(['수학', '영어'], ascending=False) # 수학, 영어 점수 기준으로 내림차순

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
3번    김세은  여  152   5  97  99  48  65      Python
23번    조율  남  151  23  43  99  12  49      PYTHON
2번    권석현  남  144  17  68  92  79  91        Java
6번    김주헌  남  147  49  41  92   7  13         NaN
19번   임라온  남  152  94   4  90  32  92          C#
28번   함지율  여  155  38  47  89  60  39          C#
5번    김주하  여  146  39  63  80  67  64         NaN
25번   최아리  여  159  37  30  77  29  73      Python
16번   이가연  여  140  64   9  76  11  68          C#
22번   조예원  여  150  30  34  75  75  62        Java
8번    박지나  여  149  25  37  72  32  37          C#
18번   이지환  남  140  15   3  64  61  67           C
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
9번    박지수  여  145  15  20  53  18  23          C#
12번   송시윤  여  150  13  55  46  17  77        Java
11번   성용혁  남  147  15  26  44  68  20        Java
20번   전유준  남  159  49  25  33  22  85      PYTHON
15번   윤지율  남  149  60  11  32  81   9      PYTHON
7번    박소을  여  141  13  24  28  62  65           C
27번   한바름  남  155   3  20  27  38  63      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
21번   전윤서  여  156  44  88  16  26  53      Python
17번   이서연  여  149  12  24  13  83  41          C#
4번    김재익  남  142  54  94   8  19  50           C
10번   서연제  남  152  13  72   8  96  64  Javascript
1번    고우리  여  153  42  78   4  39   4      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
29번   주민성  남  146   7  22   1  73  68           C

In [6]:
df.sort_values(['수학', '영어'], ascending=[True, False]) # 수학 점수는 오름차순으로, 영어 점수는 내림차순으로 정렬

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
29번   주민성  남  146   7  22   1  73  68           C
26번   태정민  남  155  98  84   3  90  56  Javascript
1번    고우리  여  153  42  78   4  39   4      Python
4번    김재익  남  142  54  94   8  19  50           C
10번   서연제  남  152  13  72   8  96  64  Javascript
17번   이서연  여  149  12  24  13  83  41          C#
21번   전윤서  여  156  44  88  16  26  53      Python
24번   조재현  남  143   6   6  25  58  65         NaN
27번   한바름  남  155   3  20  27  38  63      PYTHON
7번    박소을  여  141  13  24  28  62  65           C
15번   윤지율  남  149  60  11  32  81   9      PYTHON
20번   전유준  남  159  49  25  33  22  85      PYTHON
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
9번    박지수  여  145  15  20  53  18  23          C#
14번   윤서진  여  148  88  76  57  76  31      Python
13번   신소현  여  141  69   0  63  71   1          C#
18번   이지환  남  140  15   3  64  61  67           C
8번    박지나  여  149  25  37  72  32  37          C#
22번   조예원  여  150  30  34  75  75  62        Java
16번   이가연  여  140  64   9  76  11  68          C#
25번   최아리  여  159  37  30  77  29  73      Python
5번    김주하  여  146  39  63  80  67  64         NaN
28번   함지율  여  155  38  47  89  60  39          C#
19번   임라온  남  152  94   4  90  32  92          C#
2번    권석현  남  144  17  68  92  79  91        Java
6번    김주헌  남  147  49  41  92   7  13         NaN
3번    김세은  여  152   5  97  99  48  65      Python
23번    조율  남  151  23  43  99  12  49      PYTHON

In [7]:
df['키'].sort_values()

지원번호
18번    140
16번    140
7번     141
13번    141
4번     142
24번    143
2번     144
9번     145
29번    146
5번     146
6번     147
11번    147
14번    148
17번    149
15번    149
8번     149
12번    150
22번    150
23번    151
10번    152
19번    152
3번     152
1번     153
26번    155
27번    155
28번    155
21번    156
20번    159
25번    159
Name: 키, dtype: int64

In [8]:
df['키'].sort_values(ascending=False)

지원번호
25번    159
20번    159
21번    156
28번    155
27번    155
26번    155
1번     153
3번     152
10번    152
19번    152
23번    151
22번    150
12번    150
17번    149
15번    149
8번     149
14번    148
11번    147
6번     147
5번     146
29번    146
9번     145
2번     144
24번    143
4번     142
13번    141
7번     141
16번    140
18번    140
Name: 키, dtype: int64

In [9]:
df.sort_index()

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
1번    고우리  여  153  42  78   4  39   4      Python
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#

In [10]:
df.sort_index(ascending=False)

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
9번    박지수  여  145  15  20  53  18  23          C#
8번    박지나  여  149  25  37  72  32  37          C#
7번    박소을  여  141  13  24  28  62  65           C
6번    김주헌  남  147  49  41  92   7  13         NaN
5번    김주하  여  146  39  63  80  67  64         NaN
4번    김재익  남  142  54  94   8  19  50           C
3번    김세은  여  152   5  97  99  48  65      Python
2번    권석현  남  144  17  68  92  79  91        Java
29번   주민성  남  146   7  22   1  73  68           C
28번   함지율  여  155  38  47  89  60  39          C#
27번   한바름  남  155   3  20  27  38  63      PYTHON
26번   태정민  남  155  98  84   3  90  56  Javascript
25번   최아리  여  159  37  30  77  29  73      Python
24번   조재현  남  143   6   6  25  58  65         NaN
23번    조율  남  151  23  43  99  12  49      PYTHON
22번   조예원  여  150  30  34  75  75  62        Java
21번   전윤서  여  156  44  88  16  26  53      Python
20번   전유준  남  159  49  25  33  22  85      PYTHON
1번    고우리  여  153  42  78   4  39   4      Python
19번   임라온  남  152  94   4  90  32  92          C#
18번   이지환  남  140  15   3  64  61  67           C
17번   이서연  여  149  12  24  13  83  41          C#
16번   이가연  여  140  64   9  76  11  68          C#
15번   윤지율  남  149  60  11  32  81   9      PYTHON
14번   윤서진  여  148  88  76  57  76  31      Python
13번   신소현  여  141  69   0  63  71   1          C#
12번   송시윤  여  150  13  55  46  17  77        Java
11번   성용혁  남  147  15  26  44  68  20        Java
10번   서연제  남  152  13  72   8  96  64  Javascript