# 12. 데이터 수정

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [2]:
df['학교'].replace({'북산고':'상북고', '능남고':'무슨고'})

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    무슨고
7번    무슨고
8번    무슨고
Name: 학교, dtype: object

In [3]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [4]:
df['학교'].replace({'북산고':'상북고'}, inplace=True)

In [5]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df['SW특기'].str.lower()

지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object

In [7]:
df['SW특기'] = df['SW특기'].str.lower()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      python
2번    정대만  상북고  184   40   35   50  55  25        java
3번    송태섭  상북고  168   80   75   70  80  75  javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [8]:
df['SW특기'] = df['SW특기'].str.upper()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      PYTHON
2번    정대만  상북고  184   40   35   50  55  25        JAVA
3번    송태섭  상북고  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [9]:
df['학교'] = df['학교'] + '등학교' # 학교 데이터 + 등학교
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN
6번    변덕규  능남고등학교  202   80  100   95  85  80           C
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#

## Column 추가

In [10]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465

In [11]:
90 + 85 + 100 + 95 + 85

455

In [12]:
df['결과'] = 'Fail' # 결과 Column 을 추가하고 전체 데이터는 Fail 로 초기화
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Fail
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Fail
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Fail

In [13]:
df.loc[df['총합'] > 400, '결과'] = 'Pass' # 총합이 400보다 큰 데이터에 대해서 결과를 Pass 로 업데이트
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

## Column 삭제

In [14]:
df.drop(columns=['총합']) # 총합 Column 을 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  Pass

In [15]:
df.drop(columns=['국어', '영어', '수학']) # 국어, 영어, 수학 Column 을 삭제

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202  85  80           C  440  Pass
7번    황태산  능남고등학교  188  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  95  95          C#  465  Pass

In [16]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

## Row 삭제

In [17]:
df.drop(index='4번') # 4번 학생 데이터 row 를 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

In [18]:
filt = df['수학'] < 80 # 수학 점수 80 점 미만 학생 필터링
df[filt]

       이름      학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    정대만  상북고등학교  184  40  35  50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168  80  75  70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187  40  60  70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188  15  20  10  35  10         NaN   90  Fail
7번    황태산  능남고등학교  188  55  65  45  40  35      PYTHON  240  Fail

In [19]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [20]:
df.drop(index=df[filt].index)

       이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85  PYTHON  455  Pass
6번    변덕규  능남고등학교  202   80  100   95  85  80       C  440  Pass
8번    윤대협  능남고등학교  190  100   85   90  95  95      C#  465  Pass

In [21]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass

## Row 추가

In [22]:
df.loc['9번'] = ['이정환', '해남고등학교', 184, 90, 90, 90, 90, 90, 'Kotilin', 450, 'Pass'] # 새로운 Row 추가
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90     Kotilin  450  Pass

## Cell 수정

In [23]:
df.loc['4번', 'SW특기'] = 'Python' # 4번 학생의 SW특기 데이터를 Python 으로 변경
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90     Kotilin  450  Pass

In [24]:
df.loc['5번', ['학교', 'SW특기']] = ['능남고등학교', 'C'] # 5번 학생의 학교는 능남고등학교, SW특기는 C로 변경
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  능남고등학교  188   15   20   10  35  10           C   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90     Kotilin  450  Pass

## Column 순서 변경

In [25]:
cols = list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [26]:
df = df[[cols[-1]] + cols[0:-1]] # 맨 뒤에 있는 결과 Column 을 앞으로 가져옥, 나머지 Column 들과 합쳐서 순서 변경
df

        결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    Pass  채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455
2번    Fail  정대만  상북고등학교  184   40   35   50  55  25        JAVA  205
3번    Fail  송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380
4번    Fail  서태웅  상북고등학교  187   40   60   70  75  80      Python  325
5번    Fail  강백호  능남고등학교  188   15   20   10  35  10           C   90
6번    Pass  변덕규  능남고등학교  202   80  100   95  85  80           C  440
7번    Fail  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240
8번    Pass  윤대협  능남고등학교  190  100   85   90  95  95          C#  465
9번    Pass  이정환  해남고등학교  184   90   90   90  90  90     Kotilin  450

In [27]:
df = df[['결과', '이름', '학교']]
df

        결과   이름      학교
지원번호
1번    Pass  채치수  상북고등학교
2번    Fail  정대만  상북고등학교
3번    Fail  송태섭  상북고등학교
4번    Fail  서태웅  상북고등학교
5번    Fail  강백호  능남고등학교
6번    Pass  변덕규  능남고등학교
7번    Fail  황태산  능남고등학교
8번    Pass  윤대협  능남고등학교
9번    Pass  이정환  해남고등학교

## Column 이름 변경

In [28]:
df

        결과   이름      학교
지원번호
1번    Pass  채치수  상북고등학교
2번    Fail  정대만  상북고등학교
3번    Fail  송태섭  상북고등학교
4번    Fail  서태웅  상북고등학교
5번    Fail  강백호  능남고등학교
6번    Pass  변덕규  능남고등학교
7번    Fail  황태산  능남고등학교
8번    Pass  윤대협  능남고등학교
9번    Pass  이정환  해남고등학교

In [29]:
df.columns

Index(['결과', '이름', '학교'], dtype='object')

In [30]:
df.columns = ['Result', 'Name', 'School']
df

     Result Name  School
지원번호
1번     Pass  채치수  상북고등학교
2번     Fail  정대만  상북고등학교
3번     Fail  송태섭  상북고등학교
4번     Fail  서태웅  상북고등학교
5번     Fail  강백호  능남고등학교
6번     Pass  변덕규  능남고등학교
7번     Fail  황태산  능남고등학교
8번     Pass  윤대협  능남고등학교
9번     Pass  이정환  해남고등학교

# 데이터 수정
데이터 수정 요리조리

In [1]:
import pandas as pd
df = pd.read_excel('school.xlsx', index_col='지원번호')
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [2]:
df['성별'].replace({'남':'남자', '여':'여자'})

지원번호
1번     여자
2번     남자
3번     여자
4번     남자
5번     여자
6번     남자
7번     여자
8번     여자
9번     여자
10번    남자
11번    남자
12번    여자
13번    여자
14번    여자
15번    남자
16번    여자
17번    여자
18번    남자
19번    남자
20번    남자
21번    여자
22번    여자
23번    남자
24번    남자
25번    여자
26번    남자
27번    남자
28번    여자
29번    남자
Name: 성별, dtype: object

In [3]:
df

       이름 성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여  153  42  78   4  39   4      Python
2번    권석현  남  144  17  68  92  79  91        Java
3번    김세은  여  152   5  97  99  48  65      Python
4번    김재익  남  142  54  94   8  19  50           C
5번    김주하  여  146  39  63  80  67  64         NaN
6번    김주헌  남  147  49  41  92   7  13         NaN
7번    박소을  여  141  13  24  28  62  65           C
8번    박지나  여  149  25  37  72  32  37          C#
9번    박지수  여  145  15  20  53  18  23          C#
10번   서연제  남  152  13  72   8  96  64  Javascript
11번   성용혁  남  147  15  26  44  68  20        Java
12번   송시윤  여  150  13  55  46  17  77        Java
13번   신소현  여  141  69   0  63  71   1          C#
14번   윤서진  여  148  88  76  57  76  31      Python
15번   윤지율  남  149  60  11  32  81   9      PYTHON
16번   이가연  여  140  64   9  76  11  68          C#
17번   이서연  여  149  12  24  13  83  41          C#
18번   이지환  남  140  15   3  64  61  67           C
19번   임라온  남  152  94   4  90  32  92          C#
20번   전유준  남  159  49  25  33  22  85      PYTHON
21번   전윤서  여  156  44  88  16  26  53      Python
22번   조예원  여  150  30  34  75  75  62        Java
23번    조율  남  151  23  43  99  12  49      PYTHON
24번   조재현  남  143   6   6  25  58  65         NaN
25번   최아리  여  159  37  30  77  29  73      Python
26번   태정민  남  155  98  84   3  90  56  Javascript
27번   한바름  남  155   3  20  27  38  63      PYTHON
28번   함지율  여  155  38  47  89  60  39          C#
29번   주민성  남  146   7  22   1  73  68           C

In [4]:
df['성별'].replace({'남':'남자', '여':'여자'}, inplace=True)

In [5]:
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153  42  78   4  39   4      Python
2번    권석현  남자  144  17  68  92  79  91        Java
3번    김세은  여자  152   5  97  99  48  65      Python
4번    김재익  남자  142  54  94   8  19  50           C
5번    김주하  여자  146  39  63  80  67  64         NaN
6번    김주헌  남자  147  49  41  92   7  13         NaN
7번    박소을  여자  141  13  24  28  62  65           C
8번    박지나  여자  149  25  37  72  32  37          C#
9번    박지수  여자  145  15  20  53  18  23          C#
10번   서연제  남자  152  13  72   8  96  64  Javascript
11번   성용혁  남자  147  15  26  44  68  20        Java
12번   송시윤  여자  150  13  55  46  17  77        Java
13번   신소현  여자  141  69   0  63  71   1          C#
14번   윤서진  여자  148  88  76  57  76  31      Python
15번   윤지율  남자  149  60  11  32  81   9      PYTHON
16번   이가연  여자  140  64   9  76  11  68          C#
17번   이서연  여자  149  12  24  13  83  41          C#
18번   이지환  남자  140  15   3  64  61  67           C
19번   임라온  남자  152  94   4  90  32  92          C#
20번   전유준  남자  159  49  25  33  22  85      PYTHON
21번   전윤서  여자  156  44  88  16  26  53      Python
22번   조예원  여자  150  30  34  75  75  62        Java
23번    조율  남자  151  23  43  99  12  49      PYTHON
24번   조재현  남자  143   6   6  25  58  65         NaN
25번   최아리  여자  159  37  30  77  29  73      Python
26번   태정민  남자  155  98  84   3  90  56  Javascript
27번   한바름  남자  155   3  20  27  38  63      PYTHON
28번   함지율  여자  155  38  47  89  60  39          C#
29번   주민성  남자  146   7  22   1  73  68           C

In [6]:
df['SW특기'].str.lower()

지원번호
1번         python
2번           java
3번         python
4번              c
5번            NaN
6번            NaN
7번              c
8번             c#
9번             c#
10번    javascript
11번          java
12번          java
13번            c#
14번        python
15번        python
16번            c#
17번            c#
18번             c
19번            c#
20번        python
21번        python
22번          java
23번        python
24번           NaN
25번        python
26번    javascript
27번        python
28번            c#
29번             c
Name: SW특기, dtype: object

In [7]:
df['SW특기'] = df['SW특기'].str.lower()
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153  42  78   4  39   4      python
2번    권석현  남자  144  17  68  92  79  91        java
3번    김세은  여자  152   5  97  99  48  65      python
4번    김재익  남자  142  54  94   8  19  50           c
5번    김주하  여자  146  39  63  80  67  64         NaN
6번    김주헌  남자  147  49  41  92   7  13         NaN
7번    박소을  여자  141  13  24  28  62  65           c
8번    박지나  여자  149  25  37  72  32  37          c#
9번    박지수  여자  145  15  20  53  18  23          c#
10번   서연제  남자  152  13  72   8  96  64  javascript
11번   성용혁  남자  147  15  26  44  68  20        java
12번   송시윤  여자  150  13  55  46  17  77        java
13번   신소현  여자  141  69   0  63  71   1          c#
14번   윤서진  여자  148  88  76  57  76  31      python
15번   윤지율  남자  149  60  11  32  81   9      python
16번   이가연  여자  140  64   9  76  11  68          c#
17번   이서연  여자  149  12  24  13  83  41          c#
18번   이지환  남자  140  15   3  64  61  67           c
19번   임라온  남자  152  94   4  90  32  92          c#
20번   전유준  남자  159  49  25  33  22  85      python
21번   전윤서  여자  156  44  88  16  26  53      python
22번   조예원  여자  150  30  34  75  75  62        java
23번    조율  남자  151  23  43  99  12  49      python
24번   조재현  남자  143   6   6  25  58  65         NaN
25번   최아리  여자  159  37  30  77  29  73      python
26번   태정민  남자  155  98  84   3  90  56  javascript
27번   한바름  남자  155   3  20  27  38  63      python
28번   함지율  여자  155  38  47  89  60  39          c#
29번   주민성  남자  146   7  22   1  73  68           c

In [8]:
df['SW특기'] = df['SW특기'].str.upper()
df

       이름  성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자  153  42  78   4  39   4      PYTHON
2번    권석현  남자  144  17  68  92  79  91        JAVA
3번    김세은  여자  152   5  97  99  48  65      PYTHON
4번    김재익  남자  142  54  94   8  19  50           C
5번    김주하  여자  146  39  63  80  67  64         NaN
6번    김주헌  남자  147  49  41  92   7  13         NaN
7번    박소을  여자  141  13  24  28  62  65           C
8번    박지나  여자  149  25  37  72  32  37          C#
9번    박지수  여자  145  15  20  53  18  23          C#
10번   서연제  남자  152  13  72   8  96  64  JAVASCRIPT
11번   성용혁  남자  147  15  26  44  68  20        JAVA
12번   송시윤  여자  150  13  55  46  17  77        JAVA
13번   신소현  여자  141  69   0  63  71   1          C#
14번   윤서진  여자  148  88  76  57  76  31      PYTHON
15번   윤지율  남자  149  60  11  32  81   9      PYTHON
16번   이가연  여자  140  64   9  76  11  68          C#
17번   이서연  여자  149  12  24  13  83  41          C#
18번   이지환  남자  140  15   3  64  61  67           C
19번   임라온  남자  152  94   4  90  32  92          C#
20번   전유준  남자  159  49  25  33  22  85      PYTHON
21번   전윤서  여자  156  44  88  16  26  53      PYTHON
22번   조예원  여자  150  30  34  75  75  62        JAVA
23번    조율  남자  151  23  43  99  12  49      PYTHON
24번   조재현  남자  143   6   6  25  58  65         NaN
25번   최아리  여자  159  37  30  77  29  73      PYTHON
26번   태정민  남자  155  98  84   3  90  56  JAVASCRIPT
27번   한바름  남자  155   3  20  27  38  63      PYTHON
28번   함지율  여자  155  38  47  89  60  39          C#
29번   주민성  남자  146   7  22   1  73  68           C

In [9]:
df['성별'] = df['성별'] + '학생'
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON
2번    권석현  남자학생  144  17  68  92  79  91        JAVA
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON
4번    김재익  남자학생  142  54  94   8  19  50           C
5번    김주하  여자학생  146  39  63  80  67  64         NaN
6번    김주헌  남자학생  147  49  41  92   7  13         NaN
7번    박소을  여자학생  141  13  24  28  62  65           C
8번    박지나  여자학생  149  25  37  72  32  37          C#
9번    박지수  여자학생  145  15  20  53  18  23          C#
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA
13번   신소현  여자학생  141  69   0  63  71   1          C#
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON
16번   이가연  여자학생  140  64   9  76  11  68          C#
17번   이서연  여자학생  149  12  24  13  83  41          C#
18번   이지환  남자학생  140  15   3  64  61  67           C
19번   임라온  남자학생  152  94   4  90  32  92          C#
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON
22번   조예원  여자학생  150  30  34  75  75  62        JAVA
23번    조율  남자학생  151  23  43  99  12  49      PYTHON
24번   조재현  남자학생  143   6   6  25  58  65         NaN
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON
28번   함지율  여자학생  155  38  47  89  60  39          C#
29번   주민성  남자학생  146   7  22   1  73  68           C

In [10]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314
4번    김재익  남자학생  142  54  94   8  19  50           C  225
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202
7번    박소을  여자학생  141  13  24  28  62  65           C  192
8번    박지나  여자학생  149  25  37  72  32  37          C#  203
9번    박지수  여자학생  145  15  20  53  18  23          C#  129
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208
13번   신소현  여자학생  141  69   0  63  71   1          C#  204
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193
16번   이가연  여자학생  140  64   9  76  11  68          C#  228
17번   이서연  여자학생  149  12  24  13  83  41          C#  173
18번   이지환  남자학생  140  15   3  64  61  67           C  210
19번   임라온  남자학생  152  94   4  90  32  92          C#  312
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151
28번   함지율  여자학생  155  38  47  89  60  39          C#  273
29번   주민성  남자학생  146   7  22   1  73  68           C  171

In [11]:
42 + 78 + 4 + 39 + 4

167

In [12]:
df['결과'] = 'Fail'
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Fail
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Fail
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Fail
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Fail
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  129  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Fail
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Fail
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Fail
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Fail
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Fail
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Fail
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Fail
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Fail
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Fail
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Fail
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [13]:
df.loc[df['총합'] > 220, '결과'] = 'Pass'
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  129  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [14]:
df.drop(columns=['총합'])

       이름    성별    키  국어  영어  수학  과학  사회        SW특기    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  Pass
4번    김재익  남자학생  142  54  94   8  19  50           C  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  Fail

In [15]:
df.drop(columns=['국어', '영어', '수학'])

       이름    성별    키  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  79  91        JAVA  347  Pass
3번    김세은  여자학생  152  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  19  50           C  225  Pass
5번    김주하  여자학생  146  67  64         NaN  313  Pass
6번    김주헌  남자학생  147   7  13         NaN  202  Fail
7번    박소을  여자학생  141  62  65           C  192  Fail
8번    박지나  여자학생  149  32  37          C#  203  Fail
9번    박지수  여자학생  145  18  23          C#  129  Fail
10번   서연제  남자학생  152  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  71   1          C#  204  Fail
14번   윤서진  여자학생  148  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  11  68          C#  228  Pass
17번   이서연  여자학생  149  83  41          C#  173  Fail
18번   이지환  남자학생  140  61  67           C  210  Fail
19번   임라온  남자학생  152  32  92          C#  312  Pass
20번   전유준  남자학생  159  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  75  62        JAVA  276  Pass
23번    조율  남자학생  151  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143  58  65         NaN  160  Fail
25번   최아리  여자학생  159  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  60  39          C#  273  Pass
29번   주민성  남자학생  146  73  68           C  171  Fail

In [16]:
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  129  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [17]:
df.drop(index='4번')

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  129  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [18]:
filt = df['수학'] < 50
df[filt]

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Pass
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [19]:
df[filt].index

Index(['1번', '4번', '7번', '10번', '11번', '12번', '15번', '17번', '20번', '21번',
       '24번', '26번', '27번', '29번'],
      dtype='object', name='지원번호')

In [20]:
df.drop(index=df[filt].index)

       이름    성별    키  국어  영어  수학  과학  사회    SW특기   총합    결과
지원번호
2번    권석현  남자학생  144  17  68  92  79  91    JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65  PYTHON  314  Pass
5번    김주하  여자학생  146  39  63  80  67  64     NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13     NaN  202  Fail
8번    박지나  여자학생  149  25  37  72  32  37      C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23      C#  129  Fail
13번   신소현  여자학생  141  69   0  63  71   1      C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31  PYTHON  328  Pass
16번   이가연  여자학생  140  64   9  76  11  68      C#  228  Pass
18번   이지환  남자학생  140  15   3  64  61  67       C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92      C#  312  Pass
22번   조예원  여자학생  150  30  34  75  75  62    JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49  PYTHON  226  Pass
25번   최아리  여자학생  159  37  30  77  29  73  PYTHON  246  Pass
28번   함지율  여자학생  155  38  47  89  60  39      C#  273  Pass

In [21]:
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    박지수  여자학생  145  15  20  53  18  23          C#  129  Fail
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail

In [23]:
df.loc['30번'] = ['홍길동', '남자학생', '150', '50', '50','50', '50', '50', 'Kotilin', '250', 'Pass']
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50           C  225  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail
30번   홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass

In [24]:
df.loc['4번', 'SW특기'] = 'Python'
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50      Python  225  Pass
5번    김주하  여자학생  146  39  63  80  67  64         NaN  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail
30번   홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass

In [25]:
df.loc['5번', ['성별', 'SW특기']] = ['남자학생', 'C']
df

       이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
1번    고우리  여자학생  153  42  78   4  39   4      PYTHON  167  Fail
2번    권석현  남자학생  144  17  68  92  79  91        JAVA  347  Pass
3번    김세은  여자학생  152   5  97  99  48  65      PYTHON  314  Pass
4번    김재익  남자학생  142  54  94   8  19  50      Python  225  Pass
5번    김주하  남자학생  146  39  63  80  67  64           C  313  Pass
6번    김주헌  남자학생  147  49  41  92   7  13         NaN  202  Fail
7번    박소을  여자학생  141  13  24  28  62  65           C  192  Fail
8번    박지나  여자학생  149  25  37  72  32  37          C#  203  Fail
9번    홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass
10번   서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253  Pass
11번   성용혁  남자학생  147  15  26  44  68  20        JAVA  173  Fail
12번   송시윤  여자학생  150  13  55  46  17  77        JAVA  208  Fail
13번   신소현  여자학생  141  69   0  63  71   1          C#  204  Fail
14번   윤서진  여자학생  148  88  76  57  76  31      PYTHON  328  Pass
15번   윤지율  남자학생  149  60  11  32  81   9      PYTHON  193  Fail
16번   이가연  여자학생  140  64   9  76  11  68          C#  228  Pass
17번   이서연  여자학생  149  12  24  13  83  41          C#  173  Fail
18번   이지환  남자학생  140  15   3  64  61  67           C  210  Fail
19번   임라온  남자학생  152  94   4  90  32  92          C#  312  Pass
20번   전유준  남자학생  159  49  25  33  22  85      PYTHON  214  Fail
21번   전윤서  여자학생  156  44  88  16  26  53      PYTHON  227  Pass
22번   조예원  여자학생  150  30  34  75  75  62        JAVA  276  Pass
23번    조율  남자학생  151  23  43  99  12  49      PYTHON  226  Pass
24번   조재현  남자학생  143   6   6  25  58  65         NaN  160  Fail
25번   최아리  여자학생  159  37  30  77  29  73      PYTHON  246  Pass
26번   태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331  Pass
27번   한바름  남자학생  155   3  20  27  38  63      PYTHON  151  Fail
28번   함지율  여자학생  155  38  47  89  60  39          C#  273  Pass
29번   주민성  남자학생  146   7  22   1  73  68           C  171  Fail
30번   홍길동  남자학생  150  50  50  50  50  50     Kotilin  250  Pass

In [26]:
cols = list(df.columns)
cols

['이름', '성별', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [27]:
df = df[[cols[-1]] + cols[0:-1]]
df

        결과   이름    성별    키  국어  영어  수학  과학  사회        SW특기   총합
지원번호
1번    Fail  고우리  여자학생  153  42  78   4  39   4      PYTHON  167
2번    Pass  권석현  남자학생  144  17  68  92  79  91        JAVA  347
3번    Pass  김세은  여자학생  152   5  97  99  48  65      PYTHON  314
4번    Pass  김재익  남자학생  142  54  94   8  19  50      Python  225
5번    Pass  김주하  남자학생  146  39  63  80  67  64           C  313
6번    Fail  김주헌  남자학생  147  49  41  92   7  13         NaN  202
7번    Fail  박소을  여자학생  141  13  24  28  62  65           C  192
8번    Fail  박지나  여자학생  149  25  37  72  32  37          C#  203
9번    Pass  홍길동  남자학생  150  50  50  50  50  50     Kotilin  250
10번   Pass  서연제  남자학생  152  13  72   8  96  64  JAVASCRIPT  253
11번   Fail  성용혁  남자학생  147  15  26  44  68  20        JAVA  173
12번   Fail  송시윤  여자학생  150  13  55  46  17  77        JAVA  208
13번   Fail  신소현  여자학생  141  69   0  63  71   1          C#  204
14번   Pass  윤서진  여자학생  148  88  76  57  76  31      PYTHON  328
15번   Fail  윤지율  남자학생  149  60  11  32  81   9      PYTHON  193
16번   Pass  이가연  여자학생  140  64   9  76  11  68          C#  228
17번   Fail  이서연  여자학생  149  12  24  13  83  41          C#  173
18번   Fail  이지환  남자학생  140  15   3  64  61  67           C  210
19번   Pass  임라온  남자학생  152  94   4  90  32  92          C#  312
20번   Fail  전유준  남자학생  159  49  25  33  22  85      PYTHON  214
21번   Pass  전윤서  여자학생  156  44  88  16  26  53      PYTHON  227
22번   Pass  조예원  여자학생  150  30  34  75  75  62        JAVA  276
23번   Pass   조율  남자학생  151  23  43  99  12  49      PYTHON  226
24번   Fail  조재현  남자학생  143   6   6  25  58  65         NaN  160
25번   Pass  최아리  여자학생  159  37  30  77  29  73      PYTHON  246
26번   Pass  태정민  남자학생  155  98  84   3  90  56  JAVASCRIPT  331
27번   Fail  한바름  남자학생  155   3  20  27  38  63      PYTHON  151
28번   Pass  함지율  여자학생  155  38  47  89  60  39          C#  273
29번   Fail  주민성  남자학생  146   7  22   1  73  68           C  171
30번   Pass  홍길동  남자학생  150  50  50  50  50  50     Kotilin  250

In [29]:
df = df[['결과', '이름', '성별']]
df

        결과   이름    성별
지원번호
1번    Fail  고우리  여자학생
2번    Pass  권석현  남자학생
3번    Pass  김세은  여자학생
4번    Pass  김재익  남자학생
5번    Pass  김주하  남자학생
6번    Fail  김주헌  남자학생
7번    Fail  박소을  여자학생
8번    Fail  박지나  여자학생
9번    Pass  홍길동  남자학생
10번   Pass  서연제  남자학생
11번   Fail  성용혁  남자학생
12번   Fail  송시윤  여자학생
13번   Fail  신소현  여자학생
14번   Pass  윤서진  여자학생
15번   Fail  윤지율  남자학생
16번   Pass  이가연  여자학생
17번   Fail  이서연  여자학생
18번   Fail  이지환  남자학생
19번   Pass  임라온  남자학생
20번   Fail  전유준  남자학생
21번   Pass  전윤서  여자학생
22번   Pass  조예원  여자학생
23번   Pass   조율  남자학생
24번   Fail  조재현  남자학생
25번   Pass  최아리  여자학생
26번   Pass  태정민  남자학생
27번   Fail  한바름  남자학생
28번   Pass  함지율  여자학생
29번   Fail  주민성  남자학생
30번   Pass  홍길동  남자학생

In [30]:
df

        결과   이름    성별
지원번호
1번    Fail  고우리  여자학생
2번    Pass  권석현  남자학생
3번    Pass  김세은  여자학생
4번    Pass  김재익  남자학생
5번    Pass  김주하  남자학생
6번    Fail  김주헌  남자학생
7번    Fail  박소을  여자학생
8번    Fail  박지나  여자학생
9번    Pass  홍길동  남자학생
10번   Pass  서연제  남자학생
11번   Fail  성용혁  남자학생
12번   Fail  송시윤  여자학생
13번   Fail  신소현  여자학생
14번   Pass  윤서진  여자학생
15번   Fail  윤지율  남자학생
16번   Pass  이가연  여자학생
17번   Fail  이서연  여자학생
18번   Fail  이지환  남자학생
19번   Pass  임라온  남자학생
20번   Fail  전유준  남자학생
21번   Pass  전윤서  여자학생
22번   Pass  조예원  여자학생
23번   Pass   조율  남자학생
24번   Fail  조재현  남자학생
25번   Pass  최아리  여자학생
26번   Pass  태정민  남자학생
27번   Fail  한바름  남자학생
28번   Pass  함지율  여자학생
29번   Fail  주민성  남자학생
30번   Pass  홍길동  남자학생

In [31]:
df.columns

Index(['결과', '이름', '성별'], dtype='object')

In [32]:
df.columns = ['Result', 'Name', 'Sex']
df

     Result Name   Sex
지원번호
1번     Fail  고우리  여자학생
2번     Pass  권석현  남자학생
3번     Pass  김세은  여자학생
4번     Pass  김재익  남자학생
5번     Pass  김주하  남자학생
6번     Fail  김주헌  남자학생
7번     Fail  박소을  여자학생
8번     Fail  박지나  여자학생
9번     Pass  홍길동  남자학생
10번    Pass  서연제  남자학생
11번    Fail  성용혁  남자학생
12번    Fail  송시윤  여자학생
13번    Fail  신소현  여자학생
14번    Pass  윤서진  여자학생
15번    Fail  윤지율  남자학생
16번    Pass  이가연  여자학생
17번    Fail  이서연  여자학생
18번    Fail  이지환  남자학생
19번    Pass  임라온  남자학생
20번    Fail  전유준  남자학생
21번    Pass  전윤서  여자학생
22번    Pass  조예원  여자학생
23번    Pass   조율  남자학생
24번    Fail  조재현  남자학생
25번    Pass  최아리  여자학생
26번    Pass  태정민  남자학생
27번    Fail  한바름  남자학생
28번    Pass  함지율  여자학생
29번    Fail  주민성  남자학생
30번    Pass  홍길동  남자학생